.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-address{
    margin-left: 20px;
}

.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-second{
    font-size: 0.9rem;
    font-weight: 700;
}

.add-icon{
    display: flex;
    align-items: center;
}