/* div {
    height: 50px;
    width: 50px;
    background-color: aqua;

    position: absolute;
    top: 100px;
    left: 100px;

    transition: all 0.9s ease;

    transform: scale(4);
}

@media (max-width: 300px) {
    div {
        background-color: green;
    }
}

@media (min-width: 301px) and (max-width: 400px) {
    div {
        background-color: pink;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    div {
        background-color: red;
    }
}

@media (min-width: 601px) {
    div {
        background-color: blue;
    }
}

div:hover {
    font-size: 30px;
    background-color: blanchedalmond;

    transform: scale(4)skew(60deg);

    transition: 4s;
}

div:active {
    background-color: blueviolet;
} */
#loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid black;
    border-top: 8px solid blue;

    animation: vikash 3s ease-in 0s infinite normal;
}

@keyframes vikash {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}