*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background-color:#e3e6e6;
}

/* ================= NAVBAR ================= */

.navbar{
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:white;

    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

/* LOGO */

.nav-logo{
    height:50px;
    width:120px;
}

.logo{
    background-image:url("logo1.png");
    background-size:cover;
    background-position:center;

    height:50px;
    width:100%;
}

/* BORDER */

.border{
    border:2px solid transparent;
    padding:5px;
}

.border:hover{
    border:2px solid white;
}

/* ================= ADDRESS ================= */

.add-first{
    color:#cccccc;
    font-size:0.75rem;
    margin-left:15px;
}

.add-second{
    font-size:0.9rem;
    margin-left:3px;
    font-weight:bold;
}

.add-icon{
    display:flex;
    align-items:center;
    gap:5px;
}

/* ================= SEARCH ================= */

.nav-search{
    display:flex;
    justify-content:space-evenly;

    width:620px;
    height:40px;

    border-radius:5px;
    overflow:hidden;

    background-color:pink;
}

.nav-search:hover{
    border:3px solid orange;
}

/* SELECT */

.search-select{
    width:50px;
    border:none;
    background:#f3f3f3;
    text-align:center;
}

/* INPUT */

.search-input{
    width:100%;
    border:none;

    font-size:1rem;
    padding-left:10px;

    outline:none;
}

/* ICON */

.search-icon{
    width:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#febd68;

    font-size:1.2rem;
    color:black;
}

/* ================= TEXT ================= */

span{
    font-size:0.7rem;
}

.nav-second{
    font-size:0.85rem;
    font-weight:700;
}

/* ================= CART ================= */

.nav-cart i{
    font-size:25px;
}

.nav-cart{
    font-size:15px;
    font-weight:700;
}

/* ================= PANEL ================= */

.panel{
    height:38px;
    background-color:#222f3d;
    color:white;

    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.panel-all{
    font-weight:700;
}

.panel-options{
    width:70%;

    display:flex;
    align-items:center;
}

.panel-options p{
    margin-left:15px;
}

.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}

/* ================= HERO SECTION ================= */

.hero-section{
    background-image:url("image3.jpg");

    height:200px;

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:flex-end;
}

/* HERO MESSAGE */

.hero-msg{
    background:white;
    color:black;

    height:35px;
    width:90%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:0.9rem;

    margin-bottom:25px;
}

/* ================= SHOP SECTION ================= */
/* ================= SHOP SECTION ================= */
.panel-options{
    width:70%;

    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.box{
    width: 30%;
    height: 245px;
    background-color: white;
    margin-top: 15px;
    padding: 15px 9px 18px;
    border-radius: 5%;
}
.box-imag{
    height:166.5px;
    margin-bottom: 0.45rem;
    margin-bottom: 0.45rem;
    border-radius: 5%;
    background-repeat: no-repeat;

}
.box-content:hover{
 margin-left:1rem ;
 margin-right: 1rem;
 margin-bottom: 14px;
 background-color: #cccccc;
}
.box content{
    border: 2px solid transparent;
}
/**footer**/
.footer{
    margin: 30px;
}
.foot-panel{
    background-color: #37345a;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
}
.foot-panel2{
    background-color:#222f3d ;
    color: #e3e6e6;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
   display: block;  
   font-size: 0.85rem;
   margin-top: 10px;
   color:white;
}
 /* .foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    color: #e3e6e6;
}  */
.foot-panel3{
    background-color: #222f3d;
    border-top: 2px solid white;
    color: #e3e6e6;

    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    width: 100px;
    height: 50px;
    background-image: url("logo1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.foot-panel4{
    background-color: #0f1111;
    color: #e2e7e6;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
    height: 80px; 
}
.page{
   font-size: 0.7rem;
   text-align: center;   
}
.copy-right{
     font-size: 0.7rem;
     text-align: center;
     
}